[Desktop Entry]
Encoding=UTF-8
Name=Carrot Core
Comment=Connect to the Carrot P2P Network
Comment[de]=Verbinde mit dem Carrot peer-to-peer Netzwerk
Comment[fr]=Carrot, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Carrot, eşten eşe kriptografik sanal para birimi
Exec=carrot-qt %u
Terminal=false
Type=Application
Icon=carrot128
MimeType=x-scheme-handler/carrot;
Categories=Office;Finance;
