
## <summary>policy for carrot</summary>


########################################
## <summary>
##	Transition to carrot.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`carrot_domtrans',`
	gen_require(`
		type carrot_t, carrot_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, carrot_exec_t, carrot_t)
')


########################################
## <summary>
##	Execute carrot server in the carrot domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`carrot_initrc_domtrans',`
	gen_require(`
		type carrot_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, carrot_initrc_exec_t)
')


########################################
## <summary>
##	Search carrot lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`carrot_search_lib',`
	gen_require(`
		type carrot_var_lib_t;
	')

	allow $1 carrot_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read carrot lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`carrot_read_lib_files',`
	gen_require(`
		type carrot_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, carrot_var_lib_t, carrot_var_lib_t)
')

########################################
## <summary>
##	Manage carrot lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`carrot_manage_lib_files',`
	gen_require(`
		type carrot_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, carrot_var_lib_t, carrot_var_lib_t)
')

########################################
## <summary>
##	Manage carrot lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`carrot_manage_lib_dirs',`
	gen_require(`
		type carrot_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, carrot_var_lib_t, carrot_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a carrot environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`carrot_admin',`
	gen_require(`
		type carrot_t;
		type carrot_initrc_exec_t;
		type carrot_var_lib_t;
	')

	allow $1 carrot_t:process { ptrace signal_perms };
	ps_process_pattern($1, carrot_t)

	carrot_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 carrot_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, carrot_var_lib_t)

')

