[Unit]
Description=Carrot's distributed currency daemon
After=network.target

[Service]
User=carrot
Group=carrot

Type=forking
PIDFile=/var/lib/carrotd/carrotd.pid
ExecStart=/usr/bin/carrotd -daemon -pid=/var/lib/carrotd/carrotd.pid \
-conf=/etc/carrot/carrot.conf -datadir=/var/lib/carrotd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
